body {
    font-family: "Pattaya", sans-serif;
  }


.accordian{
font-family: font-family: "Pattaya", sans-serif;
}
h2,h5,h4,  p{
font-family: "Quicksand", sans-serif;
}
.bg-primary{
background-color:#9966cc
}