/* cinderella.css */

/* Top Section Styles */
.top-section {
    background-image: url('{{ img }}');
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    position: relative;
}

/* Header Image Styles */
.header-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    background-size: 100% 100%;
}

/* About Section Image Styles */
.about-image {
    background-image: url('{{img}}');
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;

}

/* General Body Styles */
body {
    font-family: 'sans-serif', serif;
    margin: 0;
    padding: 0;
    background: #f9f6e7;
    color: #333;
}

/* Card Styles */
.card {
    margin: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    color: #6b5bff;
}

.card-text {
    font-size: 1.2em;
    color: #4b4b4b;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header-image,
    .about-image {
        max-height: 200px;
    }

    .card {
        margin-bottom: 20px;
    }
}