.mid-section{
background-color:#CEF4FC;
}
.bottom-section{
background-color:#73C2FB;
}


.product-mid-section{
background-color:#E6CCFE;
}

#product {
    width: 100%;
    max-width: 1500px;
    max-height: 100%;
    margin: 0 auto;
    background-color: #CBBDE2;
}

#carousel-container {
border: 2px solid #A82993;
}

#product-carousel-container {
border: 2px solid #A82993;
}


#product .carousel-inner {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    align-items: center;
    padding-top: 100%;
}
#product .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#experience-carousel-container {
border: 2px solid #A82993;
}


#experience .carousel-inner {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    align-items: center;
    padding-top: 100%;
}
#experience .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#experience{
background-color:#E6CCFE;
}

background-image: url("/static/images/Experience_background.")






















<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Our Products
        </a>
        <ul class="dropdown-menu">
          {% if request.path != '/Magic Wand'%}
          <li><a class="dropdown-item" href="#">Magic Wand</a></li>
          {% else %}
          <li><a href="#" class="dropdown-item nav-link disabled">Magic Wand</a></li>
          {% endif %}
          {% if request.path != '/Flying Carpet'%}
            <li><a class="dropdown-item" href="#">Flying Carpet</a></li>
          {% else %}
           <li><a href="#" class="dropdown-item nav-link disabled">Flying Carpet</a></li>
            {% endif %}
          {% if request.path != '/Pack the world-Suitcase'%}
              <li><a class="dropdown-item" href="#">Pack the world-Suitcase</a></li>
          {% else %}
           <li><a href="#" class="dropdown-item nav-link disabled">Pack the world-Suitcase</a></li>
          {% endif %}
          {% if request.path != '/One dress-No mess'%}
              <li><a class="dropdown-item" href="#">One dress-No mess</a></li>
          {% else %}
          <li><a href="#" class="dropdown-item nav-link disabled">One dress-No mess</a></li>
          {% endif %}
          {% if request.path != '/Magic Potion'%}
              <li><a class="dropdown-item" href="#">Magic Potion</a></li>
          {% else %}
          <li><a href="#" class="dropdown-item nav-link disabled">Magic Potion</a></li>
          {% endif %}
        </ul>
      </li>

/* --------------------- Booking Page ----------------------- */

#bookdestinaton .card {
    font-family: "Pattaya", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 16px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#bookdestinaton .card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bookdestinaton .card .container {
    padding: 16px;
}

#bookdestinaton .card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

#bookdestinaton .card .title {
    font-size: 1rem;
    color: #bc6ff4;
    margin-bottom: 8px;
}

#bookdestinaton .card .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #bc6ff4;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 4px 10px #d13e7d;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 4px;
}

#bookdestinaton .card .button:hover {
    background-color: #d264b6ff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

#message h2 {
    font-family: 'Bagel Fat One', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: rgb(221, 0, 103)

}

@media screen and (max-width: 650px) {
    #bookdestinaton .column {
        width: 100%;
        display: block;
    }
    #bookdestinaton .card {
        width: 80%;
    }
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.content {
  position: fixed;
  bottom: 0;
  font-family: "Pattaya", sans-serif;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#myVideo {
  width: 100%;
  height: 50vh;  /* Restricts the height of the video to 50% of the viewport height */
  object-fit: cover;  /* Ensures the video covers the area without distortion */
}

.content {
  position: absolute;
  top: 50%; /* Centers the content vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;  /* Ensures content stays above the video */
}

#components {
  margin-top: 50vh;

}
.offer{
background-color:red;
}
