{% extends "layout.html" %}
 {% block title %}Book Magical Destination{% endblock %}
{% block body_content %}

<section class="top-section"
        style="
height: 100vh;
            position: relative;
            top:0;
            max-width: 1500px;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: white;">




<section id="bookdestinaton">
    <div class="container pt-5">
        <div class="row">
            <div class="col6 col-md-4">
                 <div class="card">
                     <img >
                     <div class="container">
                         <h2>Wonderland</h2>
                         <p class="title">Want to wander in Wonderland?</p>
                         <p>Ever dreamt of falling down the rabbit hole into the whimsical world of Wonderland?</p>
                         <p>This is your chance to have a luxurious holiday in Wonderland!</p>
                         <p><a href='#'><button class="button">Book Here!</button></a></p>
                     </div>
                 </div>
             </div>

            <div class="col6 col-md-4">
                <div class="card">
                    <img>
                    <div class="container">
                        <h2>Cinderella's Kingdom!</h2>
                        <p class="title">Welcome to the destination where wishes come true !</p>
                        <p>Nestled beyond enchanted forests and glowing rivers, Cinderella’s Kingdom invites you to live your own fairy tale.</p>
                        <p>From golden staircases to timeless romance, your fantasy vacation awaits/p>
                        <p><a href="#"><button class="button">Book Here!</button></a></p>
                    </div>
                </div>
            </div>

            <div class="col6 col-md-4">
                <div class="card">
                    <img>
                    <div class="container">
                        <h2>Aquariel World!</h2>
                        <p class="title">Dive into a world where wonder glows beneath the waves</p>
                        <p>Follow Ariel into a realm where curiosity reigns and sea stars guide your way.</p>
                        <p>Glide past colorful reefs and singing seahorses as you discover the ocean’s most magical secrets.</p>
                        <p><a href="#"><button class="button">Book Here!</button></a></p>
                    </div>
                </div>
            </div>



         <div class="row">
             <div class="col-sm-6">
                 <div class="card">
                         <img>
                     <div class="container">
                         <h2>Magical Land of Arandelle</h2>
                         <p class="title">Come and explore the known and unknown magical powers of Arandelle.</p>
                         <p>A holiday in the frozen land of Arandel feels like stepping into a shimmering snow globe where magic dances on every icy breeze.</p>
                         <p>A holiday in the frozen land of Arandel is a magical escape into a world of glittering snow, enchanted silence, and timeless winter wonder.</p>
                         <p><a href="#"><button class="button">Book Here!</button></a></p>
                     </div>
                 </div>
             </div>

             <div class="col-sm-6">
                 <div class="card">
                         <img>
                     <div class="container">
                         <h2>Land of Mulan</h2>
                         <p class="title">£</p>
                         <p>£</p>
                         <p>@</p>
                         <p><a href="/"><button class="button">Book Here!</button></a></p>
                     </div>
                 </div>
             </div>

             <div id="message" class="col-md-12 mx-auto">
                <div class="container pt-5 text-center">
                    <hr>
                    <h2><i class='bx bxs-castle'></i><br>We're excited to take you on an amazing journey!!<br></h2>
                    <hr>
                </div>
            </div>
         </div>
        </div>
    </div>
</section>

{% endblock %}
