{% extends "layout.html" %}
{% block body_content %}

<section class="top-section"
        style="
            background-image: url('{{ img }}');
            height: 100vh;
            position: relative;
            top:0;
            max-width: 1500px;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: white;">

        <div class="container pt-5" >
            <h1>{{ title_body }}</h1>
            <h4>{{ subtitle }}</h4>
        </div>
      </section>
<section class ="mid-section">
    <br>
      <br>
      <br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/frozen_luxury.jpeg') }}"  class="card-img-top" alt="castle_bedroom">
      <div class="card-body">
        <h5 class="card-title">Our Luxurious Rooms</h5>
        <p class="card-text">A lavish, Frozen-themed castle chamber adorned with icy elegance and a crackling fireplace, blending royal comfort with enchanting beauty.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/frozen_skating.jpeg') }}" class="card-img-top" alt="frozen_view">
      <div class="card-body">
        <h5 class="card-title">Our Magnificent Views!</h5>
        <p class="card-text">The palace offers a breathtaking view of the shimmering sea and a glistening ice ring, sparkling under the sky like a scene from a winter fairytale.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/frozen_food.jpeg') }}" class="card-img-top" alt="frozen_food">
      <div class="card-body">
        <h5 class="card-title">Our Succulent and Luscious Spread !</h5>
        <p class="card-text">The castle delights guests with exquisite cuisine, enchanting desserts, magical drinks, and impeccable royal service fit for a fairytale.</p>
    </div>
  </div>

</div>
</div>
  <br>


    <br>
</section>

<br>


    <br>
      <br>
      <br>
<section class="bottom-section">

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/frozen_entertainment.jpeg') }}"  class="card-img-top" alt="castle_entertainment">
      <div class="card-body">
        <h5 class="card-title">Our Worldclass Entertainment</h5>
        <p class="card-text">Step into the Frozen Theme Castle where fun, dance, culture, and dazzling entertainment come to life in a magical celebration!
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/frozen_market.jpeg') }}" class="card-img-top" alt="frozen_market">
      <div class="card-body">
        <h5 class="card-title">Our beautiful Markets!</h5>
        <p class="card-text">Discover the enchanting Winter Market, a beautiful and amazing wonderland filled with twinkling lights, festive stalls, seasonal treats, and heartwarming holiday charm.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/frozen_experience.jpeg') }}" class="card-img-top" alt="frozen_experience">
      <div class="card-body">
        <h5 class="card-title">Magical Experience!</h5>
        <p class="card-text">Experience winter magic at the Frozen Theme Resort with snowman building and thrilling sledging adventures for all ages!.</p>
    </div>
  </div>

</div>
</div>
  <br>
      <br>
</section>
{% endblock %}