<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title_head}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename= 'frozen_styles.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top">
    <a href="#" class="navbar-brand">
      <img src="{{ url_for('static', filename='images/EG_logo.png') }}" alt="Enchanted Getaways" height="50px" class="d-inline-block align-text-top me-2">
      <h4 class="mb-0">Enchanted Getaways</h4>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('home_page')}}">Home</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Destinations
        </a>
        <ul class="dropdown-menu">
          {% if request.path != '/wonderland'%}
          <li><a class="dropdown-item" href="wonderland">Wonderland</a></li>
          {% else %}
          <li><a href="#" class="dropdown-item nav-link disabled">Wonderland</a></li>
          {% endif %}
          {% if request.path != '/cinderella_kingdom'%}
          <li><a class="dropdown-item" href="cinderella_kingdom">Cinderella's Kingdom</a></li>
          {% else %}
          <li><a href="#" class="dropdown-item nav-link disabled">Cinderella's Kingdom</a></li>
           {% endif %}
          {% if request.path != '/aquariel 3'%}
            <li><a class="dropdown-item" href="aquariel">Aquariel</a></li>
          {% else %}
          <li><a href="#" class="dropdown-item nav-link disabled">Destination 3</a></li>
           {% endif %}
          {% if request.path != '/Arendelle'%}
            <li><a class="dropdown-item" href="Arendelle">Magical Land of Arandelle</a></li>
          {% else %}
          <li><a href="#" class="dropdown-item nav-link disabled">Magical Land of Arandelle</a></li>
          {% endif %}
           {% if request.path != '/mulan'%}
            <li><a class="dropdown-item" href="mulan">Mulan's World</a></li>
          {% else %}
          <li><a href="#"  class = "dropdown-item nav-link disabled">Mulan's World</a></li>
          {% endif %}
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('product_page')}}">Our Magical Products</a>
      </li>

<li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('wheel_of_fortune_game')}}">Play and Win</a>
      </li>


       <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('experience_page')}}">Our Magical Experiences!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>


    <div class="ms-auto d-flex gap-2">
            {% if 'user_email' in session %}
            <button class="login-btn">
                <a href="{{ url_for('logout') }}"><i class='bx bxs-castle bx-burst-hover'></i>Logout</a>
            </button>
            {% else %}
            <button class="login-btn">
                <a href="{{ url_for('login') }}"><i class='bx bxs-castle bx-burst-hover'></i>Login</a>
            </button>
            {% endif %}
    </div>
  </div>
  </div>
</nav>




 {% block body_content %}
    {% endblock %}

<footer class="container-fluid bg-4 text-center" >
    <img src="{{url_for('static', filename = 'images/EG_logo.png') }}" width="50" height="75" style="display: block; margin: 0 auto; width: 150px;">
<p style="background-color: #9954BA;"> &copy; Enchanted Getaways 2025</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous">
</script>

</body>

</html>