{% extends "layout.html" %}
{% block body_content %}

<section class="top-section"
        style="
            background-image: url('static/images/imperial_palace.jpg');
            height: 100vh;
            position: relative;
            top:0;
            max-width: 1500px;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: white;">

        <div class="container pt-5" >
            <h1>{{ title_body }}</h1>
            <h4>{{ subtitle }}</h4>
        </div>
      </section>
<section class ="bottom-section">
    <br>
      <br>
      <br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/tea_making_experience.jpg') }}"  class="card-img-top" alt="tea_with_the_matchmaker">
      <div class="card-body">
        <h5 class="card-title">Tea Time with the Matchmaker</h5>
        <p class="card-text">Step into Mulan’s world and try your hand at the most delicate of arts — making tea under the watchful eye of the Matchmaker. Steady hands, graceful pours, and maybe a little chaos… just the way Mulan likes it.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/learn_how_to_fight.jpg') }}" class="card-img-top" alt="Mulan_fighting">
      <div class="card-body">
        <h5 class="card-title">Train like a Warrior at Captain Li Shang's Camp!</h5>
        <p class="card-text">Step into Mulan’s world and enter the legendary training grounds where heroes are forged. Learn discipline, strength, and maybe how to catch an arrow mid-air (no promises).</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ url_for('static', filename='images/tour_emperor_castle.png') }}" class="card-img-top" alt="imperial_palace">
      <div class="card-body">
        <h5 class="card-title">A tour of the Imperial Palace!</h5>
        <p class="card-text">Step into the world of Mulan and explore the majestic Emperor's Palace, a symbol of imperial power and grandeur. This magnificent palace, with its towering roofs, intricate carvings, and vibrant colors, offers a glimpse into the heart of ancient China.</p>
    </div>
  </div>

</div>
</div>
  <br>


    <br>
</section>

{% endblock %}
