<!--{% extends "layout.html" %}-->
<!--{% block body_content %}-->
<!--{% block title %} Wonderland {% endblock %}-->
<!--<section>-->
<!--   <p>Login to view our Amazing Enchanted Products!</p>-->
<!--  {% if username==False %}-->
<!--  <p>You are not logged in.</p>-->
<!--  <br>-->
<!--  <p><a href = '/login'>click here to log in</a></p>-->
<!--  {% else %}-->
<!--  <p>Logged in as {{ username }}<p>-->
<!--  <br>-->
<!--  <p><b><a href = '/logout'>Log out</a></b></p>-->
<!--  {% endif %}-->
<!--</section>-->
<!--{% endblock %}-->