{% extends "layout.html" %}
{% block title %} Register {% endblock %}
{% block body_content %}
<section class="login-wrapper">
<div class="login-card ">
    <h1>Begin Your Magical Journey ✨</h1>
    <p>Create your enchanted passport to explore hidden getaways.</p>

    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}
            <div class="row g-4 mt-3">
                <div class="form-floating mb-3">
                    {{ form.firstname(id="floatingFirstName", placeholder="FirstName") }}
                    <label for="floatingFirstName">{{ form.firstname.label.text }}</label>
                </div>
            </div>
            <div class="row g-4 mt-3">
                    <div class="form-floating mb-3">
                        {{ form.lastname(id="floatingLastName", placeholder="LastName") }}
                        <label for="floatingLastName">{{ form.lastname.label.text }}</label>
                    </div>
                </div>
            <div class="row g-3 mt-2">
                    <div class="form-floating mb-3">
                        {{ form.email(id="floatingEmail", placeholder="Email") }}
                        <label for="floatingEmail">{{ form.email.label.text }}</label>
                    </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="form-floating mb-3">
                    {{ form.password(id="floatingPassword", placeholder="Password") }}
                    <label for="floatingPassword">{{ form.password.label.text }}</label>
                </div>
            </div>
            <button type="submit" class="login-btn mt-4">{{ form.submit.label.text }}</button>
    </form>
</div>
</section>

{% endblock %}