{% extends "layout.html" %}
{% block body_content %}

<section class="top-section"
        style="
            background-image: url('static/images/rps.png');
            height: 100vh;
            position: relative;
            top:0;
            max-width: 1500px;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: white;">
    <div class="container">
        <h1>Welcome, Adventurer!</h1>
         <p>Your enchanted journey awaits. Let's
             play Rock Paper Scissors to discover your magical getaway.</p>


        <form action="/rock_paper_scissors" method="POST">
    <p><label for="user_choice">Your Choice:</label></p>
    <p>
      <select id="user_choice" name="user_choice" required>
        <option value="">--Select--</option>
        <option value="R">Rock</option>
        <option value="P">Paper</option>
        <option value="S">Scissors</option>
      </select>
    </p>

    <p><input type="submit" value="Play Game" /></p>
  </form>


        <div id="result" class="result"></div>
        {% if computer_choice %}
    <h5>Computer's Choice: {{ computer_choice }}</h5>
    <h5>{{ result }}</h5>
{% endif %}


        <ul id="history">
            {% for game in history %}
                <li>You chose: {{ game[0] }}, Computer chose: {{ game[1] }}, Result: {{ game[2] }} ({{ game[3] }})</li>
            {% endfor %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='static/rps.js') }}"></script>
</section>
{% endblock %}