<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rock, Paper, Scissors</h1>

        <form action="/rock_paper_scissors" method="POST">
    <p><label for="user_choice">Your Choice:</label></p>
    <p>
      <select id="user_choice" name="user_choice" required>
        <option value="">--Select--</option>
        <option value="R">Rock</option>
        <option value="P">Paper</option>
        <option value="S">Scissors</option>
      </select>
    </p>

    <p><input type="submit" value="Play Game" /></p>
  </form>


        <div id="result" class="result"></div>
        {% if computer_choice %}
    <h2>Computer's Choice: {{ computer_choice }}</h2>
    <h3>{{ result }}</h3>
{% endif %}


        <ul id="history">
            {% for game in history %}
                <li>You chose: {{ game[0] }}, Computer chose: {{ game[1] }}, Result: {{ game[2] }} ({{ game[3] }})</li>
            {% endfor %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='static/rps.js') }}"></script>
</body>
</html>