{% extends "layout.html" %}
{% block title %} Wheel of Fortune {% endblock %}
{% block body_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='wheel_of_fortune.css') }}">

<section class="login-wrapper wheel-wrapper">
    <div class="login-card login-fade wheel-card">
        <div class="wheel-content">
            <h1>Hi {{first_name}}!</h1>
            <h3>Spin and Win a prize!</h3>
            <p id="result"></p>
        </div>
        <div class="wheel-container">
            <div class="pointer"></div>
            <canvas id="wheelCanvas" width="440" height="440"></canvas>
            <button id="spinButton" class="btn-wheel-primary">SPIN</button>
        </div>
    </div>

    <script>
     // Inject promotional_products from Flask into global JS variable
        const promotional_products = {{ promotional_products | tojson }};
    </script>

    <script src="{{ url_for('static', filename='js/wheel_of_fortune.js') }}"></script>

</section>

{% endblock %}